.btn{
  border-radius: 100px;
  font-family: 'Conv_neo_sans_bold', sans-serif;
  text-align: center;
  display: inline-block;
  padding: 8px 20px;
  width: auto;
  height: auto;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  min-width: 170px;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;

  &:hover{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  &:focus {
    outline: none;
  }
  
      &.btn-outline{
        border: 2px solid $color-primary;
        color: $color-primary;

        &:hover{
            background: $color-primary;
            color: #FFFFFF;
        }

      }

       &.btn-outline-white{
        border: 2px solid #FFFFFF;
        color: #FFFFFF;

          &:hover{
            background: #FFFFFF;
            color: $color-primary;
          }
      }

      &.btn-primary{
        background: $color-primary;
        color: #ffffff;

        &:hover{
            background: #FFFFFF;
            color: $color-primary;
        }
      }

      &.btn-primary-white{
        background: #FFFFFF;
        color: $color-primary;

        &:hover{
            background: $color-primary;
            color: #FFFFFF;
        }
      }

      &.btn-disabled {
        background-color: #EFEFEF;
        border: solid 2px #EFEFEF;
        color: $color-primary;
        &:hover{
          border: solid 2px $color-primary;
            background: $color-primary;
            color: $color-white;
        }
      }

  img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
  }

  i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
  }

  span{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 0px !important;
  }
  
}