.bg-gray-blue-cao{
    background: #F8FAFE;
}

.mobile-menu-home{
    display: none;

    @media (max-width: 991px){
        display: block;
        position: relative;
        width: 100%;
    }

    ul{
        width: 100%;
        display: block;
        position: relative;

        li{
            display: block;
            width: 100%;
            height: auto;
            text-align: left;
            vertical-align: middle;
            position: relative;
            border-bottom: 1px solid #D8D8D8;

                &:last-child{
                    border-bottom: 3px solid #EDEDED;
                }

            a{
                display: block;
                width: 100%;
                position: relative;
                padding: 13px 0px;
                -webkit-transition: all 400ms ease;
                -moz-transition: all 400ms ease;
                -ms-transition: all 400ms ease;
                -o-transition: all 400ms ease;
                transition: all 400ms ease;
                color: #FFFFFF;
                cursor: pointer;

                &:hover{
                    -webkit-transition: all 400ms ease;
                    -moz-transition: all 400ms ease;
                    -ms-transition: all 400ms ease;
                    -o-transition: all 400ms ease;
                    transition: all 400ms ease;
                    color: #CFCFCF;
                }

                .content-center{
                    width: 600px;
                    display: block;
                    margin: auto;
                    position: relative;  
                    padding: 0px 50px;

                    @media (max-width: 600px){
                        width: 100%;
                    }
                    
                    .bullet-img{
                        position: absolute;
                        margin: auto;
                        left: 0px;
                        top: 0px;
                        bottom: 0px;
                        width: 50px;

                        img{
                            position: absolute;
                            margin: auto;
                            left: 0px;
                            top: 0px;
                            right: 0px;
                            bottom: 0px;
                        }
                    }

                    .arrow-right{
                        position: absolute;
                        margin: auto;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        width: 50px;

                        img{
                            position: absolute;
                            margin: auto;
                            left: 0px;
                            top: 0px;
                            right: 0px;
                            bottom: 0px;
                        }
                    }

                    strong{
                        display: block;
                        margin-bottom: 5px;
                        font-size: 14px;
                        color: #49479D;
                    }

                    small{
                        font-size: 12px;
                        color: #747474;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}


.title-cao{
    width: 100%;
    position: relative;

    h2{
        font-size: 28px;
        color: #4A4A4A;

        strong{
            font-size: 36px;
        }
    }
}

.section-slider-home{
    display: block;
    position: relative;
    overflow: hidden;
    padding: 80px 0px 0px 0px;

    @media (max-width: 991px){
        padding: 60px 0px;
    }

    .title-cao{

        margin-bottom: 0px;

        @media (max-width: 991px){
            text-align: center;
            margin-bottom: 30px;
        }

        h2{
            @media (max-width: 991px){
                font-size: 20px;
            }

            strong{
                @media (max-width: 991px){
                    display: block;
                    font-size: 32px;
                }
            }
        }
    }

    .pass-question-cao{
        display: block;
        position: relative;
        display: block;
        width: 100%;

        .content-slick-home{
            position: relative;
            width: 100%;
            display: block;
            height: 416px;

            @media (max-width: 991px){
                height: auto; 
            }

            .slick-dots{
                position: absolute;
                width: 100%;
                margin: auto;
                text-align: center;
                display: block;
                z-index: 5;
                left: 0px;
                right: 0px;
                bottom: 20px;

                @media (max-width: 991px){
                    bottom: -41px;
                }

                li{ 
                    margin-right: 18px;
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                    width: 16px;
                    height: 16px;

                    &:last-child{
                        margin-right: 0px;
                    }

                    button{
                        position: relative;
                        color: transparent;
                        font-size: 0px;
                        border-radius: 100px;
                        width: 100%;
                        height: 100%;
                        display: block;
                        background: #9A9A9A;
                        outline: none;
                        border: 0px;
                    }

                    &.slick-active{
                        button{
                           background: #FF4566; 
                        }
                    }
                }
            }

            .slick-prev{
                position: absolute;
                left: 0px;
                top: 0px;
                bottom: 0px;
                margin: auto;
                z-index: 2;
                border-radius: 3px;
                width: 35px;
                height: 35px;
                border: 0px;
                background: #FF4063;
                text-indent: 1000000000px;
                outline: none;
                background-image: url(../../assets/img/white-arrow-prev.svg);
                background-position: 46% 50%;
                background-repeat: no-repeat;
                background-size: auto;
            }

            .slick-next{
                position: absolute;
                right: 0px;
                top: 0px;
                bottom: 0px;
                margin: auto;
                z-index: 2;
                border-radius: 3px;
                width: 35px;
                height: 35px;
                border: 0px;
                background: #FF4063;
                text-indent: 1000000000px;
                outline: none;
                background-image: url(../../assets/img/white-arrow-next.svg);
                background-position: 62% 50%;
                background-repeat: no-repeat;
                background-size: auto;
            }

            .entry-box{
                width: 100%;
                display: inline-block;
                outline: none;
                vertical-align: middle;

                .entry-content{
                    width: 100%;
                    position: relative;
                    display: block;
                    padding: 0px;
                    margin: auto;
                    text-align: center;

                    @media (max-width: 991px){
                        padding: 0px 60px;
                    }

                    @media (max-width: 660px){
                        padding: 0px;
                    }

                    .box-mobile{
                        position: relative;
                        text-align: center;
                        margin: auto;
                        display: block;
                        width: 100%;

                        @media (max-width: 991px){
                            display: flex;
                            flex-flow: column;
                            width: 100%;
                            height: auto;
                            border: 1px solid #EDEDED;
                            border-bottom: 4px solid #EDEDED;
                            background: #FFFFFF;
                        }

                        .entry-text{
                            display: inline-block;
                            vertical-align: middle;
                            width: 421px;
                            text-align: left;
                            padding-right: 20px;

                            @media (max-width: 1199px){
                                width: 375px;
                            }

                            @media (max-width: 991px){
                                width: 100%;
                                order: 2;
                                text-align: center;
                                padding: 0px 10px 30px 10px;
                            }

                            h3{
                                margin-bottom: 29px;

                                @media (max-width: 991px){
                                    margin-bottom: 10px;
                                }
                            }

                            p{
                                line-height: 24px;
                                margin-bottom: 20px;

                                @media (max-width: 991px){
                                    display: none;
                                }
                            }
                        }

                        .entry-img{
                            display: inline-block;
                            vertical-align: middle;
                            width: 500px;

                            @media (max-width: 1199px){
                                width: 435px;
                            }

                            @media (max-width: 991px){
                                width: 100%;
                                order: 1;
                                margin-bottom: 20px;
                                
                            }

                            @media (max-width: 660px){
                                padding: 0px 20px;
                            }

                            img{
                                display: block;
                                margin: auto;

                                @media (max-width: 541px){
                                    width: 100%;
                                }

                                &.move-top-mobile{
                                    @media (max-width: 991px){
                                        position: relative;
                                        top: -20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

h3{
    font-size: 18px;
    color: #49479D;
}

p{
    font-size: 16px;
    color: #747474;
}

.a-text-cao{
    position: relative;
    display: block;
    color: #FF4063;

    span{
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        font-size: 16px;
    }

    i{
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
    }
}

.section-tips-vtr{
    position: relative;
    display: block;
    width: 100%;
    padding: 0px 0px 60px 0px;

    @media (max-width: 991px){
        padding: 60px 0px 30px 0px;
    }

    .title-cao{
        margin-bottom: 20px;

        @media (max-width: 991px){
            text-align: center;

            strong{
                display: block;
            }
        }
    }
}

.box-tips{
    width: 100%;
    display: block;
    position: relative;
    padding: 0px 0px 20px 0px;
    border-radius: 3px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;

    @media (max-width: 991px){
        padding: 0px 0px 0px 20px;
        margin-bottom: 20px;
    }

    @media (max-width: 991px){
        margin-bottom: 15px;
    }

    &::after{
        @media (max-width: 991px){
            content: '●';
            position: absolute;
            display: block;
            margin: auto;
            left: 4px;
            top: 3px;
            color: #866ED0;
        }
    }

    &:hover{
        background-color: #866ECE;
        box-shadow: 0 4px 0 0 rgba(141,147,191,0.15);
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;

        @media (max-width: 991px){
            background: transparent;
            box-shadow: none;
        }

        .entry-text{
            h3, p, span{
                color: #ffffff;
                -webkit-transition: all 400ms ease;
                -moz-transition: all 400ms ease;
                -ms-transition: all 400ms ease;
                -o-transition: all 400ms ease;
                transition: all 400ms ease;
            }

            @media (max-width: 991px){
                h3{
                    color: #FF4063;
                }
            }
        }
    }

    .entry-img{
        width: 100%;
        height: 145px;
        position: relative;
        display: block;
        margin: auto;

        @media (max-width: 991px){
            display: none;
        }

        img{
            position: absolute;
            margin: auto;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            display: block;
            width: 114px;
        }
    }

    .area-destacados{
        width: 100%;
        position: relative;
        height: 24px;
        display: block;
        line-height: 24px;
        margin-bottom: 8px;

        @media (max-width: 991px){
            display: none;
        }

        span{
          background: #3AA8EE;
          padding: 5px 10px 4px 16px;
          display: initial;
          color: #FFFFFF;
          font-size: 12px;
          border-top-right-radius: 100px;
          border-bottom-right-radius: 100px;
          position: relative;

          img{
              display: inline-block;
              vertical-align: middle;
          }

          strong{
              display: inline-block;
              vertical-align: middle;
          }
        }
    }

    .entry-text{
        width: 100%;
        position: relative;
        display: block;
        text-align: left;
        padding: 0px 10px;

        @media (max-width: 991px){
           padding: 0px;
        }

        h3{
            margin-bottom: 10px;
            line-height: 21px;
            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;

            @media (max-width: 991px){
                margin-bottom: 0px;
                color: #FF4063;
            }

            @media (max-width: 424px){
                font-size: 16px;
            }

            strong{
                @media (max-width: 991px){
                    font-family: 'Conv_NeoSansStd Regular', sans-serif;
                    font-weight: 400;
                }
            }
        }

        p{
            line-height: 22px;
             margin-bottom: 10px;

             @media (max-width: 991px){
                display: none;
            }
        }

        .a-text-cao{
            @media (max-width: 991px){
                display: none;
            }
        }
    }
}

.section-tools{
    position: relative;
    display: block;
    width: 100%;
    padding: 60px 0px;

    @media (max-width: 991px){
        padding: 60px 0px 90px 0px
    }

    .title-cao{
        margin-bottom: 60px;

        @media (max-width: 991px){
            text-align: center;
        }

            h2{
                strong{
                    @media (max-width: 991px){
                        display: block;
                    }
                }
            }
        
    }

    .content-tools{
        display: block;
        margin: auto;
        text-align: left;

        @media (max-width: 991px){
            text-align: center;
        }

        .box-tools{
            display:inline-block;
            position: relative;
            width: 136px;
            min-height: 137px;
            padding: 30px 10px;
            border-radius: 3px;
            vertical-align: top;
            margin-right: 25px;
            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;

            @media (max-width: 1199px){
                width: 109px;
            }

            @media (max-width: 991px){
                width: 48.7%;
                margin-right: 0px;
            }

            &.show-tools-mobile{
                display: none;

                @media (max-width: 991px){
                    display: inline-block;
                }
            }

            &:last-child{
                margin-right: 0px;
            }

            &:hover{
                -webkit-transition: all 400ms ease;
                -moz-transition: all 400ms ease;
                -ms-transition: all 400ms ease;
                -o-transition: all 400ms ease;
                transition: all 400ms ease;
                background: #866ECE;

                .entry-text{
                    p{
                        color: #ffffff;
                        -webkit-transition: all 400ms ease;
                        -moz-transition: all 400ms ease;
                        -ms-transition: all 400ms ease;
                        -o-transition: all 400ms ease;
                        transition: all 400ms ease;
                    }
                }

                .entry-img{
                    img{
                       -webkit-transition: all 400ms ease;
                        -moz-transition: all 400ms ease;
                        -ms-transition: all 400ms ease;
                        -o-transition: all 400ms ease;
                        transition: all 400ms ease;
                        filter: grayscale(100%) saturate(1) brightness(200%) contrast(200%);
                        -webkit-filter: grayscale(100%) saturate(1) brightness(200%) contrast(200%);
                    }
                }
            }


            .entry-img{
                width: 100%;
                height: auto;
                position: relative;
                margin-bottom: 15px;

                img{
                    display: block;
                    margin: auto;
                    width: auto;
                    height: 40px;
                }
            }

            .entry-text{
                text-align: center;

                p{
                    font-size: 14px;
                    font-weight: 100;
                }
            }
        }
    }
}

.menu-list-mobile{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0px;
    right: 0px;
    bottom: -400px;
    background: #FFFFFF;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    transition-delay: all 500ms ease;

    &.active{
        @media (max-width: 991px){
            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;
            transition-delay: all 500ms ease;
            opacity: 1 !important;
            display: block !important;
            bottom: 0px !important;
             z-index: 9 !important;
        }
    }

    @media (max-width: 991px){
        display: block;
    }
    
        .entry-header{
            width: 100%;
            height: auto;
            background-image: linear-gradient(-45deg, #C03C8B 0%, #4C16F8 100%);
            position: relative;
            display: block;
            overflow: hidden;
            padding: 19px 0px 17px 0px;

            @media (max-width: 640px){
                padding: 19px 20px 17px 20px;
            }

            &::after{
                content: '';
                opacity: 0.45;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
                background-image: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
                background-image: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
                background-image: linear-gradient(-180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                height: 50px;
                margin: auto;
                width: 100%;
                z-index: 1;
            }

            a{
                display: initial;
                cursor: pointer;
                z-index: 3;

                .logo{
                    float: left; 
                }
            }

            .close{
               position: absolute;
               right: 0px;
               display: block;
               margin: auto;
               top: 0px;
               bottom: 0px;
               width: 18px;
               z-index: 3;
               cursor: pointer;
               

               img{
                   width: 100%;
                   top: 0px;
                   right: 0px;
                   left: 0px;
                   bottom: 0px;
                   margin: auto;
                   display: block;
                   position: absolute;
               }
            }
        }

        .center-mobile{
            width: 600px;
            margin: auto;
            display: block;
            position: relative;
            z-index: 2;

            @media (max-width: 640px){
                width: 100%;
            }
        }

     .entry-list{
         width: 100%;
         display: block;
         position: relative;

         ul{
             display: block;
             position: relative;
             width: 100%;
             margin-bottom: 100px;

             li{
                display: block;
                position: relative;
                text-align: left;
                vertical-align: middle;
                font-size: 15px;
                border-bottom: 1px solid #EAEAEA;

                    a{
                        display: block;
                        vertical-align: middle;
                        color: #393939;
                        padding: 20px 0px;

                        @media (max-width: 640px){
                            padding: 17px 20px;
                        }

                        .btn-entry{
                            padding-left: 47px;
                            padding-right: 40px;
                            display: block;
                            position: relative;
                            vertical-align: middle;

                            .bullet-icon{
                                position: absolute;
                                width: 28px;
                                left: 0px;
                                top: 0px;
                                bottom: 2px;
                                margin: auto;

                                img{
                                    position: absolute;
                                    margin: auto;
                                    display: block;
                                    left: 0px;
                                    right: 0px;
                                    top: 0px;
                                    bottom: 0px;
                                }
                            }

                            .bullet-arrow{
                                position: absolute;
                                display: block;
                                margin: auto;
                                right: 0px;
                                top: 0px;
                                bottom: 0px;
                                width: 0px;
                                width: 15px;

                                img{
                                    position: absolute;
                                    display: block;
                                    margin: auto;
                                    top: 0px;
                                    bottom: 0px;
                                    right: 0px;
                                    left: 0px;
                                }
                            }
                        }
                    }
             }
         }
     }   
}

#hamburguer{
    .off{
        &.hide{
            display: none;
        }
    }

    .on{
        display: none;
        &.show{
            display: block;
        }
    }
}

.ohidden-body{
   overflow: hidden !important; 
}

.layer-front{
    position: relative;
    z-index: 3;
    top: -71px;

    @media (max-width: 991px){
        top: 0px;
    }
}

.offset-col-int{
    clear: left;
    padding-left: 160px;
    position: relative;
    display: block;

    @media (max-width: 1199px){
       padding-left: 0px; 
    }
}

.int-enrty-title-search{
    width: 100%;
    display: block;
    text-align: center;
    margin: auto;
    z-index: 5;
    position: relative;
    margin-top: 30px;
    top: 10px;

    @media (max-width: 991px){
        top: 0px;
        margin-top: 20px;
    }

    .int-title{
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        @media (max-width: 991px){
            display: block;
            margin-bottom: 15px;
        }
    }

    .int-search{
        display: inline-block;
        vertical-align: middle;
        width: 590px;

        @media (max-width: 1199px){
            width: 456px;
        }

        @media (max-width: 991px){
            display: block;
            width: 100%;
        }
    }

}

.breadcrumb{
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 35px;

    @media (max-width: 991px){
        margin: 20px 0px;
    }

    ul{
        display: block;
        position: relative;

        li{
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            margin-right: 6px;
            padding-right: 20px;
            position: relative;

            @media (max-width: 425px){
                font-size: 12px;
            }

            &:last-child{
                margin-right: 0px;
                padding-right: 0px;

                a{
                    color: #FF4063;
                }

                &::after{
                    content: none;
                }
            }

            &::after{
                content: ">";
                position: absolute;
                right: 0px;
                top: 0px;
                bottom: 0px;
                display: block;
                margin: auto;
                width: 10px;
                height: 14px;
                color: #FF4063;
                text-align: center;

                @media (max-width: 425px){
                    font-size: 16px;
                }
            }

            a{
                color: #393939;
            }
        }
    }
}

.menu-sidebar{
    width: 100%;
    position: relative;
    display: block;
    text-align: left;

    li{
        position: relative;
        display: block;
        padding: 0px;
        border-bottom: 1px solid #D8D8D8;
        
        a,button{
            font-size: 14px;
            display: block !important;
            position: relative;
            width: 100%;
            text-align: left;
            cursor: pointer;
            position: relative;
            color: #4A4A4A;
            outline: none;
        }

        a{
            background: #FFFFFF;
            padding: 20px 15px;
            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;

            @media (max-width: 991px){
                padding: 20px 41px 20px 20px;
            }

            &:hover{
                -webkit-transition: all 400ms ease;
                -moz-transition: all 400ms ease;
                -ms-transition: all 400ms ease;
                -o-transition: all 400ms ease;
                transition: all 400ms ease;
                background: #F1F1F1;
            }

            &.active{
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    bottom: 0px;
                    width: 5px;
                    height: 60%;
                    background: #43499E;
                    display: block;
                    margin: auto;
                }
            }

            span{
                display: block;
                margin: auto;
                width: 17px;
                height: 10px;
                position: absolute;
                right: 15px;
                top: 0px;
                bottom: 0px;
                
                img{
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    margin: auto;
                    width: 12px;
                    display: block;
                    -webkit-transition: all 400ms ease;
                    -moz-transition: all 400ms ease;
                    -ms-transition: all 400ms ease;
                    -o-transition: all 400ms ease;
                    transition: all 400ms ease;
                    transform: rotate(0deg) ;
                    -webkit-transform: rotate(0deg) ;
                    -moz-transform: rotate(0deg) ;
                    -o-transform: rotate(0deg) ;
                    -ms-transform: rotate(0deg) ;

                    &.active{
                        -webkit-transition: all 400ms ease;
                        -moz-transition: all 400ms ease;
                        -ms-transition: all 400ms ease;
                        -o-transition: all 400ms ease;
                        transition: all 400ms ease;
                        transform: rotate(180deg) ;
                        -webkit-transform: rotate(180deg) !important;
                        -moz-transform: rotate(180deg) !important;
                        -o-transform: rotate(180deg) !important;
                        -ms-transform: rotate(180deg) !important;    
                    }
                }
            }
        }

        button{
            padding: 20px 40px 20px 15px;
            appearance: none;
            border: none;
            font-family: 'Conv_NeoSansStd Regular', sans-serif;

            &:hover{
                -webkit-transition: all 400ms ease;
                -moz-transition: all 400ms ease;
                -ms-transition: all 400ms ease;
                -o-transition: all 400ms ease;
                transition: all 400ms ease;
                background: #F1F1F1;
            }

            &.drop-active{
                background-image: linear-gradient(-180deg, #866ECE 4%, #6C55AD 100%);
                color: #FFFFFF;
                font-family: 'Conv_neo_sans_bold', sans-serif;

                span{
                    img{
                        filter: grayscale(100%) saturate(1) brightness(200%) contrast(200%);
                        -webkit-filter: grayscale(100%) saturate(1) brightness(200%) contrast(200%);
                    }
                }
            }

            span{
                display: block;
                margin: auto;
                width: 17px;
                height: 10px;
                position: absolute;
                right: 15px;
                top: 0px;
                bottom: 0px;
                
                img{
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    margin: auto;
                    width: 100%;
                    display: block;
                    -webkit-transition: all 400ms ease;
                    -moz-transition: all 400ms ease;
                    -ms-transition: all 400ms ease;
                    -o-transition: all 400ms ease;
                    transition: all 400ms ease;
                    transform: rotate(0deg) ;
                    -webkit-transform: rotate(0deg) ;
                    -moz-transform: rotate(0deg) ;
                    -o-transform: rotate(0deg) ;
                    -ms-transform: rotate(0deg) ;

                    &.active{
                        -webkit-transition: all 400ms ease;
                        -moz-transition: all 400ms ease;
                        -ms-transition: all 400ms ease;
                        -o-transition: all 400ms ease;
                        transition: all 400ms ease;
                        transform: rotate(180deg) ;
                        -webkit-transform: rotate(180deg) !important;
                        -moz-transform: rotate(180deg) !important;
                        -o-transform: rotate(180deg) !important;
                        -ms-transform: rotate(180deg) !important;    
                    }
                }
            }
        }

        ul{
            overflow: hidden;
            max-height: 0px;
            position: relative;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;;
            -moz-transition: all .3s ease;;
            -ms-transition: all .3s ease;;
            -o-transition: all .3s ease;;

            &.drop-content{
                &.show{
                    max-height: 200000000px !important;
                    -webkit-transition: all 1.5s ease !important;
                    -moz-transition: all 1.5s ease !important;
                    -ms-transition: all 1.5s ease !important;
                    -o-transition: all 1.5s ease !important;
                    transition: all 1.5s ease !important;
                }
            }

            li{
                border: none;
                background: #F8FAFE;
                position: relative;

                a{
                    background: transparent;
                }
            }
        }
    }
}

.content-tabs{
    position: relative;
    padding-left: 20px;
    min-height: 630px;
    vertical-align: top;
    display: block;

    @media (max-width: 991px){
        min-height: auto;
    }

    .entry-tabs{
        position: relative;
        display: block;
        width: 100%;

        .entry-title{
            position: relative;
            display: block;
            width: 100%;
            margin-bottom: 30px;

            h3{
                font-size: 16px;
                color: #747474;
                margin-bottom: 6px;
            }

            h4{
                font-size: 26px;
                color: #393939;
                font-family: 'Conv_neo_sans_bold', sans-serif;
                margin-bottom: 0px;
            }

        }

        .entry-text{
            width: 100%;
            position: relative;
            display: block;
            margin-bottom: 20px;
            
            .list-url{
                display: block;
                position: relative;
                width: 100%;

                li{
                    position: relative;
                    display: block;
                    margin-bottom: 20px;
                    font-size: 17px;
                    color: #747474;
                    z-index: 1;

                    a{
                        color: #866ED0;
                        -webkit-transition: all 400ms ease;
                        -moz-transition: all 400ms ease;
                        -ms-transition: all 400ms ease;
                        -o-transition: all 400ms ease;
                        transition: all 400ms ease;
                        position: relative;
                        padding-left: 20px;
                        display: block;

                        &::after{
                            content: '•';
                            position: absolute;
                            left: 0px;
                            top: 2px;
                            margin: auto;
                            display: block;
                        }

                        &:hover{
                            color: #FF4063;
                            -webkit-transition: all 400ms ease;
                            -moz-transition: all 400ms ease;
                            -ms-transition: all 400ms ease;
                            -o-transition: all 400ms ease;
                            transition: all 400ms ease;
                        }
                    }
                }
            }

            p{
                font-size: 16px;
                color: #747474;
                margin-bottom: 20px;
                line-height: 21px;
                font-family: 'Conv_NeoSansStd Regular', sans-serif;
                font-weight: 400;
            }

            h5{
                color: #49479D;
                font-size: 18px;
                margin-bottom: 20px;
                font-family: 'Conv_neo_sans_bold', sans-serif;
            }
        }

    }
}

.section-television{
    margin-bottom: 164px;
}

.tab-child{
    min-height: 630px;
    display: block;
    vertical-align: top;
}

.hide-in-991{
    @media (max-width: 991px){
        display: none;
    }
}

.full-container-991{
    @media (max-width: 991px){
        width: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
    }
}

.only-991{
    display: none;
    @media (max-width: 991px){
        display: block;
    }
}

.tab-interior-child{
    
}