/*------------------------------------------------------------------------------Header */

.entry-text{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

.header-cao{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    /*overflow: hidden;*/
    background-image: $bg-color-gradient-prymary;
    padding: 30px 0px 80px 0px;

    @media (max-width: 991px){
        padding: 20px 0px;
        height: auto;
    }

    &::after{
        content: '';
        opacity: 0.45;
        background-image: linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.00) 100%);
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        height: 168px;
        margin: auto;
        width: 100%;
        z-index: 1;
    }

    .nav-entry{
        position: relative;
        z-index: 2;
        width: 100%;
        display: block;
        height: 50px;

        .elmt--left{
            position: absolute;
            margin: auto;
            left: 0px;
            top: 0px;
            bottom: 0px;
            display: block;
            padding-top: 4px;

            @media (max-width: 991px){
                display: none;
            }
        }

        .elmt--center{
            position: absolute;
            margin: auto;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            display: block;
            text-align: center;
            margin-top: 6px;
            width: 300px;

            @media (max-width: 991px){
                right: initial;
                width: 130px;
            }

            img{
                width: 112px;
                margin-bottom: 5px;
            }

            p{
                color: #FFFFFF;
                font-size: 11px;
            }
        }

        .elmt--right{
            position: absolute;
            margin: auto;
            top: 0px;
            bottom: 0px;
            right: 0px;
            display: block;
            padding-top: 10px;

            @media (max-width: 991px){
                padding-top: 0px;
            }

            .change-size{
                display: inline-block;
                vertical-align: middle;
                margin-right: 6px;

                @media (max-width: 991px){
                    display: none;
                }

                ul{
                    display: table;
                    border: 1px solid #ffffff;
                    border-radius: 4.5px;
                    overflow: hidden;
                    
                    li{
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        width: 37px;
                        border-right: 1px solid #ffffff;
                        

                        &:last-child{
                            border-right: 0px;
                        }

                        button{
                            width: 100%;
                            display: block;
                            vertical-align: middle;
                            background: transparent;
                            color: #FFFFFF;
                            border: 0px;
                            padding: 0px;
                            padding: 4px 0px;
                            font-family: 'Conv_neo_sans_bold', sans-serif;
                            font-size: 14px;
                            outline: none;
                            cursor: pointer;
                            line-height: 20px;
                            -webkit-transition: all 400ms ease;
                            -moz-transition: all 400ms ease;
                            -ms-transition: all 400ms ease;
                            -o-transition: all 400ms ease;
                            transition: all 400ms ease;

                            &:hover{
                                -webkit-transition: all 400ms ease;
                                -moz-transition: all 400ms ease;
                                -ms-transition: all 400ms ease;
                                -o-transition: all 400ms ease;
                                transition: all 400ms ease;
                                background: #ffffff;
                                color: #FF4063;
                            }
                        }
                    }
                }
            }

            .change-color-bg{
                display: inline-block;
                vertical-align: middle;

                @media (max-width: 991px){
                    display: none;
                }

                button{
                    background: transparent;
                    border: transparent;
                    cursor: pointer;
                    outline: none;
                    position: relative;
                    border: 1px solid #FFFFFF;
                    border-radius: 4.5px;
                    padding: 0px;
                    display: block;
                    text-align: center;
                    width: 31px;
                    height: 30px;
                    -webkit-transition: all 400ms ease;
                    -moz-transition: all 400ms ease;
                    -ms-transition: all 400ms ease;
                    -o-transition: all 400ms ease;
                    transition: all 400ms ease; 

                    &:hover{
                        background: #000000;
                        -webkit-transition: all 400ms ease;
                        -moz-transition: all 400ms ease;
                        -ms-transition: all 400ms ease;
                        -o-transition: all 400ms ease;
                        transition: all 400ms ease;
                    }

                    &.active{
                        background: #000000;
                    }

                    img{
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        margin: auto;
                        display: block;
                        width: 23px;
                    }
                }
            }

            .menu-user-mobile{
                display: none;

                @media (max-width: 991px){
                    display: block;
                    position: relative;
                    vertical-align: middle;
                    padding-top: 10px;
                }

                ul{
                    display: table;
                    position: relative;

                    li{
                        vertical-align: middle;
                        display: inline-block;
                        text-align: center;
                        width: 31px;
                        margin-right: 15px;

                        &:last-child{
                            margin-right: 0px;
                        }


                        a{
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .entry-text{

        padding-top: 20px;

        .entry-title{
            text-align: center;
            position: relative;
            z-index: 2;
            margin-bottom: 30px;

            h1{
                line-height: 34px;
            }
        }

        .content-search{
            width: 590px;
            display: block;
            margin: auto;

            @media (max-width: 648px){
                width: 100%;
            }
        }
    }
}

.navigation-page{
    position: relative;
    display: block;
    vertical-align: middle;
    text-align: center;
    z-index: 4;

    ul{
        display: table;
        vertical-align: middle;
        text-align: center;
        margin: auto;
        height: 71px;
        border: 1px solid #E1E1E1;
        border-radius: 7px;
        background: #FAFAFA;
        top: -34px;
        position: relative;
        background: #FFFFFF;
        box-shadow: -1px 4px 7px -6px rgba(0,0,0,0.50);

        @media (max-width: 991px){
            top: 0px;
        }


        li{
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            width: 162px;
            height: 100%;
            font-size: 13px;
            border-right: 1px solid #E1E1E1;

            @media (max-width: 1150px){
                width: 135px;
                font-size: 12px;
            }

            @media (max-width: 1199px){
                width: 134px;
                font-size: 12px;
            }

            &:last-child{
                border-right: 0px;

                
                a{
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;

                    &.active{
                        &::after{
                            border-top-right-radius: 7px;
                            border-bottom-right-radius: 7px;
                        }
                    }
                }
            }

            &:first-child{
                
                a{
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;

                    &.active{
                        &::after{
                            border-top-left-radius: 7px;
                            border-bottom-left-radius: 7px;
                        }
                    }
                }
            }




            a{
                color: #393939;
                font-family: 'Conv_neo_sans_bold', sans-serif;
                display: block;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                -webkit-transition: all 400ms ease;
                -moz-transition: all 400ms ease;
                -ms-transition: all 400ms ease;
                -o-transition: all 400ms ease;
                transition: all 400ms ease;
                padding: 28px 0px;


                &:hover{
                    -webkit-transition: all 400ms ease;
                    -moz-transition: all 400ms ease;
                    -ms-transition: all 400ms ease;
                    -o-transition: all 400ms ease;
                    transition: all 400ms ease;
                    background: #EFEFEF;
                }

                .title-btn{
                    position: relative;
                    display: block;
                    vertical-align: middle;
                    z-index: 2;
                    color: #747474;

                }

                &.active{
                    position: relative;

                    .title-btn{
                        color: #FFFFFF;
                    }

                    &::after{
                        content: '';
                        background-image: linear-gradient(-180deg, #8F75DB 0%, #6F59B1 100%);
                        position: absolute;
                        left: -1px;
                        right: 0px;
                        top: -1px;
                        bottom: 0px;
                        width: 101.3%;
                        height: 103%;
                        border-bottom: 3px solid #DDDEE9;
                    }
                }

            }            
        }
    }
}

.menu-mobile-cao{
    display: none;

    @media (max-width: 991px){
        display: block;
        position: fixed;
        text-align: center;
        margin: auto;
        background: #131313;
        width: 100%;
        z-index: 10;
        bottom: 0px;
        left: 0px;
        right: 0px;

        ul{
            display: block;
            position: relative;
            margin: auto;
            width: 100%;
            text-align: center;
            height: auto;

            li{
                position: relative;
                display: inline-block;
                text-align: center;
                margin: auto;
                vertical-align: middle;
                width: 19%;
                text-transform: uppercase;
 
                &:last-child{
                    a, button{
                        img{
                            margin: 0px auto 0px auto;
                            height: 22px;
                        }
                    }
                }

                a, button{
                    display: block;
                    vertical-align: middle;
                    text-align: center;
                    margin: auto;
                    width: 100%;
                    color: #FFFFFF;
                    font-family: 'Conv_neo_sans_bold', sans-serif;
                    font-size: 10px;
                    padding: 10px 0px;

                    @media (max-width: 413px){
                        font-size: 9px;
                    }

                    @media (max-width: 374px){
                        font-size: 8px;
                    }

                    img{
                        display: block;
                        margin: 0px auto 9px auto;
                        width: auto;
                        height: 22px;

                        @media (max-width:424px){
                            height: 22px;
                        }
                    }

                    span{
                        display: block;
                        line-height: 13px;
                        min-height: 21px;

                        @media (max-width: 413px){
                            line-height: 11px;
                        }

                        @media (max-width: 374px){
                            line-height: 10px;
                        }
                    }

                }

                button{
                    appearance: none;
                    border: none;
                    background: transparent;
                    outline: none
                }
            }
        }
    }
}

.entry-search {
    position: relative;

    .keywords{
        position: absolute;
        margin: auto;
        display: none;
        width: 100%;
        left: 0px;
        right: 0px;
        top: 26px;
        background: #FFFFFF;
        z-index: 6;
        padding: 36px 0px 10px 0px;
        border-radius: 6px;
        box-shadow: 0 4px 46px -10px rgba(0, 0, 0, 0.5);
        height: 0px;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
        opacity: 0;

        &.active{
            display: block !important;
            height: auto !important;
            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;
            opacity: 1 !important;
        }

        ul{
            display: block;
            position: relative;
            text-align: left;
            
            li{
                position: relative;
                display: block;
                width: 100%;

                a{
                    display: block;
                    width: 100%;
                    padding: 13px 11px;
                    color: #747474;
                    font-size: 14px;
                    position: relative;
                    -webkit-transition: all 400ms ease;
                    -moz-transition: all 400ms ease;
                    -ms-transition: all 400ms ease;
                    -o-transition: all 400ms ease;
                    transition: all 400ms ease;

                    &:hover{
                        -webkit-transition: all 400ms ease;
                        -moz-transition: all 400ms ease;
                        -ms-transition: all 400ms ease;
                        -o-transition: all 400ms ease;
                        transition: all 400ms ease;
                        color: #FFFFFF;
                        background: #6F59B1;
                    }
                }
            }
        }

        &::after{
            content: '';
            position: absolute;
            margin: auto;
            display: block;
            width: 96%;
            height: 1px;
            background: #9A9A9A;
            top: 35px;
            left: 0px;
            right: 0px;
        }
    }

    @media (max-width: 766px){
        width: 100%;
    }
}