section {
    &.diccionario-vtr {
        padding-bottom: 20px;
        margin-bottom: 70px;

        .title-cao {
            margin-bottom: 10px;
            @media only screen and (min-width: $screen-md-min) { 
                margin-bottom: 20px;
            }            
        }
        
        .cont-form {
            margin: 20px 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media only screen and (min-width: $screen-md-min) { 
                text-align: left;
                flex-direction: row;
            }
            input {
                font-size: 20px;
                height: 55px;
                position: relative;
                border: 0;
                border-bottom: 1px solid $color-border-product-box;
                background-color: #F6F7FA;
                padding: 0 20px;
                margin-bottom: 20px;
                // border-radius: 10px;
                &::placeholder {
                    color: $color-gray-light;
                }
                &:focus {
                    outline: none;
                }
                @media only screen and (min-width: $screen-md-min) {
                    margin-bottom: 0px;
                }
            }
            .btn {
                min-width: 200px;
                @media only screen and (min-width: $screen-md-min) { 
                    margin: 0 20px;
                    min-width: 140px;
                }
            }
        }

        .tab-prod {
            margin: 10px 0;
            @media only screen and (min-width: $screen-md-min) { 
                margin: 50px 0;
            }
            .vtr-cont-planes {
                text-align: center;
                ul {
                    width: 100%;
                    @media only screen and (min-width: $screen-md-min) { 
                        width: auto;
                    }
                    &.tabs{
                        display: inline-block;
                        border-radius: 4px;
                        // overflow: hidden;
                        border: solid 1px $color-border-product-box;
                        background-color: $color-grey-light;
                        margin-bottom: 0;
                        @media only screen and (min-width: $screen-md-min) { 
                            margin-bottom: 30px;
                        }
                        li {
                            text-align: center;
                            float: left;
                            position: relative;
                            width: 100%;
                            max-width: 50%;
                            @media only screen and (min-width: $screen-md-min) { 
                                min-width: 380px;
                            }
                            a {
                                display: block;
                                padding: 10px 0;
                                color: $color-gray-light;
                            }
                            &.active {
                                background-color: $color-white;
                                border: solid 1px $color-border-product-box;
                                border-top: 0;
                                a {
                                    color: $color-deep-purple;
                                }
                                &:before {
                                    content: '';
                                    background-color: $color-white;
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    border: solid 2px $color-border-product-box;
                                    border-top: 0;
                                    border-right: 0;
                                    bottom: 1px;
                                    left: 50%;
                                    transform: rotate(-45deg) translate(-50%, 50%);
                                }
                            }
                            
                        }
                    }
                }
                .tab_container {
                    .tab_content {
                        .vtr-wrap-cont {

                        }
                    }
                }
            }
        }
    }
}